

  <div class="modal fade" id="confirm-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmTitle"></h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs--1"></span></button>
        </div>
        <div class="modal-body">
          <p class="text-700 lh-lg mb-0" id="confirmMessage"> </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button"  onclick="fnConfirm();">확인</button>
            <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">취소</button></div>
      </div>
    </div>
  </div>

