<div class="col-1-5">
    <div class="flatpickr-input-container">
        <input class="form-control ps-6 datetimepicker" id="srtDt" type="text" data-options='{"dateFormat":"Y-m-d","disableMobile":true,"defaultDate":"<%=basicInfo.search.srtDt%>"}' />
        <span class="uil uil-calendar-alt flatpickr-icon text-700"></span>
    </div>
</div>
<div style="margin-left: -20px;margin-top: 5px;">~</div>

<div class="col-1-5" style="margin-left: -20px;">
   
    <div class="flatpickr-input-container">
        <input class="form-control ps-6 datetimepicker" id="endDt" type="text" data-options='{"dateFormat":"Y-m-d","disableMobile":true,"defaultDate":"<%=basicInfo.search.endDt%>"}' />
        <span class="uil uil-calendar-alt flatpickr-icon text-700"></span>
    </div>
</div>