<nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#!"><%=basicInfo.nav1%></a></li>
      <li class="breadcrumb-item"><a href="#!"><%=basicInfo.nav2%></a></li>
      <!-- <li class="breadcrumb-item active">Default</li> -->
    </ol>
  </nav>