
<div class="modal fade" id="sellProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sellProductModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl  modal-dialog-centered">
      <div class="modal-content bg-100 p-6">
        <div class="modal-header border-0 p-0 mb-2">
          <h3 class="mb-0" id="memInsUpt">판매상품등록</h3>
          <button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times text-danger"></span></button>
        </div>
        <div class="modal-body px-0 ">
          <div class="row  g-1">
            <div class="col-lg-12">
              <div class="mb-4">
                <label class="text-1000 fw-bold mb-2 fs-0">상품 제목</label>
                <input class="form-control" type="text" id="pTitle" value="" />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="mb-4">
              <label class="text-1000 fw-bold mb-2 fs-0">카테고리</label>
              
              <select class="form-select" id="categoryGroup" >
                <option value="">==선택==</option>
                <%
                if (basicInfo.categoryGroup.length > 0) {
                basicInfo.categoryGroup.forEach(function (el) { 
                %>
                <option value="<%=el.seq%>"><%=el.title%></option>
                <% })} %>
              </select>

            </div>
          </div>
    
          
          <div class="row  g-4">
            <div class="col-lg-3">
                <div class="mb-4">
                    <label class="text-1000 fw-bold mb-2 fs-0">가격</label>
                    <input class="form-control" type="text" id="pPrice" value="" />
                </div>
                
            </div>
            <div class="col-lg-3">
              <div class="mb-2">
                  <label class="text-1000 fw-bold mb-2 fs-0">최소 수량</label>
                  <input class="form-control" type="text" id="pMin" value="" />
                </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-2">
                  <label class="text-1000 fw-bold mb-2 fs-0">최대 수량</label>
                  <input class="form-control" type="text" id="pMax" value="" />
                </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-2">
                  <label class="text-1000 fw-bold mb-2 fs-0">전시여부</label>
                  <select class="form-select" id="viewYN" >
                    <option value="Y" >Y</option>
                    <option value="N" >N</option>
                  </select>
                </div>
            </div>
          </div>
         
        </div>
        <input type="hidden" id="piSeq" value = "" />
        <div class="modal-footer border-0 pt-6 px-0 pb-0">
          <button class="btn btn-link text-danger px-3 my-0" id="pcancelBtn" data-bs-dismiss="modal" aria-label="Close">취소</button>
          <button class="btn btn-primary my-0" onclick="fnSetSellProduct()" id="memIns">저장</button>
        </div>
      </div>
    </div>
</div>

<script>
  function fnSetSellProduct(){
    let _url = '/pr/productAdd'
    if ($('#categoryGroup option:selected').val() == "") {
      alert("카테고리 항목을 선택해주세요.  ")
      return;
    }
    let data = {}
    data.piSeq = $('#piSeq').val()
    data.pTitle = $('#pTitle').val()
    data.pPrice = $('#pPrice').val()
    data.pMin = $('#pMin').val()
    data.pMax = $('#pMax').val()
    data.viewYN = $('#viewYN option:selected').val();
    data.categorySeq = $('#categoryGroup option:selected').val();
    
  
    wrapWindowByMaskShow()
    $.ajax({
        url: _url,
        dataType: 'json',
        type: 'POST',
        data: data,
        success: function (result) {
            wrapWindowByMaskHide()
            if(result.success) {
                fnAlertFnSearchMessage("정상 처리 되었습니다. ")
                $('#pcancelBtn').click();
            } else {
                fnAlertMessage(result.message);
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            wrapWindowByMaskHide()
            fnAlertMessage('새로 고침 후 다시 시도하여 주세요');
         
        } //function끝
    });
  }
  
</script>